<div class="container">
<nav class="navbar navbar-primary">
  <ul class="nav navbar-nav">
      <li>
          <a routerLink="list">List</a>
      </li>
      <li>
          <a routerLink="create">Create</a>
      </li>
  </ul>

</nav>
</div>
<router-outlet></router-outlet>



  