<div class="panel panel-primary">
  <div class="panel panel-heading">
    <h3 class="panel panel-title" style="color: red; font-weight: bold;">
      {{ mem.Name }}
    </h3>
  </div>
  <div class="panel panel-body">
    <div class="row">
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-4">
            <img class="imgedit" [src]="mem.Photopath" />
          </div>
          <div class="col-xs-8 datacentr">
            <div class="row">
              <div class="col-xs-6">Gender</div>
              <div class="col-xs-6">:{{ mem.Gender }}</div>
            </div>
            <div class="row">
              <div class="col-xs-6">Age</div>
              <div class="col-xs-6">:{{ mem.Age }}</div>
            </div>
            <div class="row">
              <div class="col-xs-6">Email</div>
              <div class="col-xs-6">:{{ mem.Email }}</div>
            </div>
            <div class="row">
              <div class="col-xs-6">Mobile No</div>
              <div class="col-xs-6">:{{ mem.Mobile }}</div>
            </div>
            <div class="row">
              <div class="col-xs-6">DOB</div>
              <div class="col-xs-6">: {{ mem.DOB | date }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
