<div class="form-group">
<input type="text" class="form-control" placeholder="Search by Name"
style="width: 300px;" name="Searchname" [(ngModel)]="Searchname">
</div>

<div  *ngFor="let mem of members | memberFilter:Searchname">
  <div (click)="onClick(mem.Id)">
    <app-displaymember [mem]="mem"></app-displaymember>
</div>   
</div> 

    
     <!--   <app-displaymember [mem]="MemberDisplay"></app-displaymember>
        <div>
            <button class="btn btn-info" (click)="nextMember()">Next</button>
        </div>
-->    

