<form #memberform="ngForm" (ngSubmit)="createMember()">
  <div class="container" style="background-color: silver;">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3 class="text-info">{{ PanelTitle }}</h3>

        <div class="form-group" [class.has-error]="namecontrol.invalid && namecontrol.touched"
         [class.has-success]="namecontrol.valid">
          <label for="Name" class="control-lable">Name:</label>
          <input required
            type="text"
            class="form-control"
            [(ngModel)]="membercreate.Name"
            name="Name"
             id="Name"
            #namecontrol="ngModel"
          /><span class="help-block" *ngIf="namecontrol.invalid && namecontrol.touched">
            Name is required
          </span>
        </div>
        <div class="row form-group">
          <div class="col-md-6" [class.has-error]="Gencontrol.invalid && Gencontrol.touched"
          [class.has-success]="Gencontrol.valid">
            <label>Gender</label>
            <div class="form-control">
              <label for="gen">
                Male
                <input required
                  type="radio"
                  id="gen"
                  value="Male"
                  [(ngModel)]="membercreate.Gender"
                  name="Gen"
                  #Gencontrol="ngModel"
                />
              </label>
              <label for="gen1">
                Female
                <input required
                  type="radio"
                  id="gen1"
                  value="Female"
                  [(ngModel)]="membercreate.Gender"
                  name="Gen"
                  #Gencontrol="ngModel"
                />
              </label>
            </div>
            <span class="help-block" *ngIf="Gencontrol.errors?.required">
              Gender is required
            </span>
          </div>
          <div class="col-md-6" [class.has-error]="agecontrol.invalid && agecontrol.touched"
          [class.has-success]="agecontrol.valid">
            <label for="Age"class="control-lable">Age :</label>
            <input required
              type="number"
              class="form-control"
              id="age"
              [(ngModel)]="membercreate.Age"
              name="age"
              #agecontrol="ngModel"
            />
            <span class="help-block" *ngIf="agecontrol.invalid && agecontrol.touched">
              Age is required
            </span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6" [class.has-error]="mobilecontrol.invalid && mobilecontrol.touched"
          [class.has-success]="mobilecontrol.valid">
            <label for="Mobile_No">Mobile No:</label>
            <input required
              type="number"
              class="form-control"
              id="mobile_no"
              [(ngModel)]="membercreate.Mobile"
              name="mobile"
              #mobilecontrol="ngModel"
            />
            <span class="help-block" *ngIf="mobilecontrol.invalid && mobilecontrol.touched">
              Mobile number required
            </span>
          </div>
          <div class="col-md-6">
            <label for="DOB">Date Of Birth :</label>
            <input
              type="date"
              class="form-control"
              id="dob"
              [(ngModel)]="membercreate.DOB"
              name="dob"
            />
          </div>
        </div>
        <div class="form-group"[class.has-error]="emailcontrol.invalid && emailcontrol.touched"
        [class.has-success]="emailcontrol.valid">
          <label for="Email" class="control-lable">Email address:</label>
          <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9_.+-]+\.[a-zA-Z0-9_.+-]+$"
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="membercreate.Email"
            name="email"
            #emailcontrol="ngModel"
          />
          <span class="help-block" *ngIf="emailcontrol.errors?.required && emailcontrol.touched">
            Email is required
          </span>
          <span class="help-block" *ngIf="emailcontrol.errors?.pattern && emailcontrol.touched">
            Email is invalid
          </span>
        </div>

        <div class="form-group">
          <label for="Photopath">Upload Photo:</label>
          <input
            type="text"
            class="form-control"
            id="Photopath"
            [(ngModel)]="membercreate.Photopath"
            name="Photopath"
          />
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-info" (click)="preview()">
            {{ photopreview ? "Hide" : "Show" }}Preview
          </button>
        </div>

        <div class="form-group">
          <img
            [src]="membercreate.Photopath"
            height="100"
            width="100"
            *ngIf="photopreview"
          />
        </div>

        <button type="submit" class="btn btn-info" [disabled]="memberform.invalid">Submit</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</form>

{{ memberform.value | json }}
